<a href="https://colab.research.google.com/github/Pushkar-Adari/Python/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PRINT USING -1
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
print(Cars[-1])

Ferrari

In [ ]:
#PRINT the entire list
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
print(Cars)

['Aston martin', 'BMW', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
print(Cars[2:5])

['Chrysler', 'Dodge', 'Ferrari']

In [ ]:
#from beginning to forth
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
print(Cars[:4])

['Aston martin', 'BMW', 'Chrysler', 'Dodge']

In [ ]:
#from forth to end
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
print(Cars[4:])

['Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
if "BMW" in Cars:
  print("Yes, 'BMW' is in the Cars list")

Yes, 'BMW' is in the Cars list

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars[1] = "Bugatti"
print(Cars)

['Aston martin', 'Bugatti', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars[1:2] = ["Bugatti","Cadillac"]
print(Cars)

['Aston martin', 'Bugatti', 'Cadillac', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars[1:2] = ["Bugatti"]
print(Cars)

['Aston martin', 'Bugatti', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars.append("Merc")
print(Cars)

['Aston martin', 'BMW', 'Chrysler', 'Dodge', 'Ferrari', 'Merc']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars.insert(1, "Pagani")
print(Cars)

['Aston martin', 'Pagani', 'BMW', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Bikes = ["Ducati"]
Cars.extend(Bikes)
print(Cars)

['Aston martin', 'BMW', 'Chrysler', 'Dodge', 'Ferrari', 'Ducati']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars.remove("BMW")
print(Cars)

['Aston martin', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars.pop(1)
print(Cars)

['Aston martin', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
del Cars[0]
print(Cars)

['BMW', 'Chrysler', 'Dodge', 'Ferrari']

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
Cars.clear()
print(Cars)

[]

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
for x in Cars:
  print (x)

Aston martin
BMW
Chrysler
Dodge
Ferrari

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
i = 0
while i < len(Cars):
  print(Cars[i])
  i = i + 1

Aston martin
BMW
Chrysler
Dodge
Ferrari

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]
[print(x) for x in Cars]

Aston martin
BMW
Chrysler
Dodge
Ferrari

[None, None, None, None, None]

In [ ]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]

newlist = [x for x in Cars if "e" in x]

print(newlist)

['Chrysler', 'Dodge', 'Ferrari']

In [1]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]

newlist = [x for x in Cars if x != "BMW"]
print (newlist)

In [2]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]

newlist = [x for x in Cars]
print (newlist)

['Aston martin', 'BMW', 'Chrysler', 'Dodge', 'Ferrari']

In [3]:
Cars = ["Aston martin","BMW","Chrysler","Dodge","Ferrari"]

newlist = [x.upper() for x in Cars]
print (newlist)

['ASTON MARTIN', 'BMW', 'CHRYSLER', 'DODGE', 'FERRARI']

In [5]:
Cars = ["Aston martin","BMW","Dodge","Chrysler","Ferrari"]
Cars.sort()
print(Cars)

['Aston martin', 'BMW', 'Chrysler', 'Dodge', 'Ferrari']

In [7]:
Cars = ["Aston martin","BMW","Dodge","Chrysler","Ferrari"]
cars = Cars.copy()
print (cars)

['Aston martin', 'BMW', 'Dodge', 'Chrysler', 'Ferrari']