<a href="https://colab.research.google.com/github/Pushkar-Adari/Python/blob/main/MID1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a python program to find power of number with recursion and without recursion

In [ ]:
import math
a = int(input("N:"))
b = int(input("P:"))

def power2():
  fin = pow(a,b)
  print(fin)
power2()

N:5
P:2
25

In [ ]:
list1=[(3,4,6,723),(1,2),(134,234,34)]
final = []
a = tuple(sorted(list1[0]))
b = tuple(sorted(list1[1]))
c = tuple(sorted(list1[2]))
final = [a,b,c]
final_final = sorted(final)
print(final_final)

[(1, 2), (3, 4, 6, 723), (34, 134, 234)]

In [ ]:
sub1 = int(input("Enter marks:"))
sub2 = int(input("Enter marks:"))
sub3 = int(input("Enter marks:"))
sub4 = int(input("Enter marks:"))
sub5 = int(input("Enter marks:"))
avg = (sub1+sub2+sub3+sub4+sub5)/5
if avg >= 90:
  print("O grade")
elif (90 > avg >= 80):
  print("A grade")
elif (80 > avg >= 70):
  print("B grade")
elif (70 > avg >= 60):
  print("C grade")
elif avg < 60:
  print("fail XD")

Enter marks:98
Enter marks:97
Enter marks:96
Enter marks:95
Enter marks:22
A grade

In [ ]:
a = int(input("Enter num:"))
b = int(input("Enter num:"))
c = int(input("Enter num:"))

list1 = [a,b,c]
list2 = [a,a+1,a+2]
if list1 == list2:
  print("1")
else:
  print("0")

Enter num:5
Enter num:7
Enter num:2
0

In [ ]:
num = int(input(":"))
sum_v=0  
for i in range(1,num):  
  if (num%i==0):  
    sum_v=sum_v+i  
if(sum_v==num):  
  print(num,"is a perfect number")  
else:  
  print(num,"is not a perfect number")

:6
6 is a perfect number

In [ ]:
num = input("Enter a number: ")
temp = num[::-1]
if temp == num:
  print ("yes")
else:
  print ("no")

Enter a number: 1655
no

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
def hcf():
  a = 1
  b = 1
  fact1 = []
  fact2 = []

  trash1 = []
  trash2 = []

  common = []
  result = []
  #NUM1
  while a <= num1:
    if num1 % a == 0:
      fact1.append(a)
      a = a + 1
    else:
      trash1.append(a)
      a = a + 1
  #NUM2
  while b <= num2:
    if num2 % b == 0:
      fact2.append(b)
      b = b + 1
    else:
      trash2.append(a)
      b = b + 1
  common = (set(fact1).intersection(fact2))
  result = list(common)
  print ("The HCF of",num1,"and",num2,"is",result [-1])
hcf()

Enter first number: 5
Enter second number: 3
The HCF of 5 and 3 is 1

In [ ]:
num = input("Enter a number: ")
i = len(num)
list1 = []
list2 = []
a = 0
o = 0
for a in range(i):
  x = num[a]
  list1.append(x)
  a = a + 1
for b in range(len(list1)):
    list1[b] = int(list1[b])
print(list1)

for element in list1:
    if element % 2 == 0:
        list2.append(element)
print(list2)
print(sum(list2))

Enter a number: 1563288
[1, 5, 6, 3, 2, 8, 8]
[6, 2, 8, 8]
24

In [ ]:
import math
num = input("Enter a number: ")
list1 = []
for a in range(len(num)):
    x = num[a]
    list1.append(x)
for b in range(len(list1)):
    list1[b] = int(list1[b])
final = math.prod(list1)
print(list1)
print(final)

Enter a number: 22

AttributeError: ignored

In [ ]:
num = input("Enter a number: ")
list1=[]
list2 = []
for a in range(len(num)):
    x = num[a]
    list1.append(x)
for b in range(len(list1)):
    list1 [b] = int (list1[b])
print(list1)
for c in range(len(list1)):
    sqr = list1[c]*list1[c]
    list2.append(sqr)
print(list2)
print(sum(list2))

Enter a number: 224455
[2, 2, 4, 4, 5, 5]
[4, 4, 16, 16, 25, 25]
90

In [ ]:
def counter(s):
    i = 0
    count = 0
    for a in range(len(s)):
        if s[i]==s[-i-1]:
            count = count + 1
            i = i + 1
    return count
print(counter("abcdefcba"))

3

In [ ]:

def repeatntimes(n):
    list1 = []
    for i in range(1,n+1):
        for a in range(i):
            list1.append(i)
    return list1
n = int(input("Enter a number: "))
print(repeatntimes(n))

Enter a number: 5
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [ ]:
txt = "gitam university"
vowels = []
consts = []
for x in txt:
    if x in ['a','e','i','o','u']:
        vowels.append(x)
    else:
        if x != ' ':
            consts.append(x)
print(vowels)
print(consts)

['i', 'a', 'u', 'i', 'e', 'i']
['g', 't', 'm', 'n', 'v', 'r', 's', 't', 'y']

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
if a < b:
    while a <= b:
        print (a)
        a = a + 1
elif a > b:
    while b <= a:
        print (a)
        a = a - 1

Enter first number: 2
Enter second number: 7
2
3
4
5
6
7

In [ ]:
l1 = ['abc', 'xyz', 'aba', '1221']
for word in l1:
  if len(word) > 2 and word[0]==word[-1]:
    print(word)

aba
1221

In [ ]:
for n in range(25,60 + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

29
31
37
41
43
47
53
59

In [ ]:
month = int(input("Enter the month: "))
days31 = [1,3,5,7,8,10,12]
days30 = [4,6,8,9]
days28 = [2]
if month in days31:
  print("31 days")
elif month in days28:
  print("28 days")
elif month in days30:
  print("30 days")
else:
  print("Enter a valid month")

Enter the month: 3
31 days

In [ ]:
sample = input("enter a sentence: ")
a = sample.split(" ")
for word in a:
  if len(word) % 2 == 0:
    print(word)

enter a sentence: this is a python class
this
is
python

In [ ]:
string = input(":")
acn = ""
smol = string.split(" ")
for word in smol:
  acn = acn + word.capitalize()+ " "
print(acn)

:this is a python class
This Is A Python Class

In [ ]:
a = [11,22,33]
final = ''
for x in range(len(a)):
    a[x]=str(a[x])
for y in range(len(a)):
    final = final + a[y]
print(final)

112233